.tooltip-outer-class {
  @apply inline-flex relative cursor-pointer;
}
.tooltip-outer-class-left,
.tooltip-outer-class-right {
  @apply items-center;
}
.tooltip-outer-class-top,
.tooltip-outer-class-bottom {
  @apply justify-center;
}
.tooltip-outer-class-top-right,
.tooltip-outer-class-bottom-right {
  @apply justify-end;
}
.tooltip-outer-class-top-left,
.tooltip-outer-class-bottom-left {
  @apply justify-start;
}

.tooltip-box-outer-class {
  @apply absolute flex not-italic font-normal text-xs;
  font-family: "Inter", sans-serif;
}
.tooltip-box-outer-class-top {
  @apply flex-col items-center mb-1 bottom-full;
}
.tooltip-box-outer-class-bottom {
  @apply flex-col-reverse items-center mt-1 top-full;
}
.tooltip-box-outer-class-left {
  @apply items-center mr-1 right-full;
}
.tooltip-box-outer-class-right {
  @apply items-center flex-row-reverse ml-1 left-full;
}
.tooltip-box-outer-class-top-left {
  @apply flex-col ml-2 mb-1 bottom-full;
}
.tooltip-box-outer-class-bottom-left {
  @apply flex-col-reverse ml-2 mt-1 top-full;
}
.tooltip-box-outer-class-top-right {
  @apply flex-col items-end mr-2 mb-1 bottom-full;
}
.tooltip-box-outer-class-bottom-right {
  @apply flex-col-reverse items-end mr-2 mt-1 top-full;
}
.tooltip-box-class {
  @apply relative z-10 max-w-[200px] max-h-[200px] w-max overflow-y-auto px-3 py-2 rounded-lg;
}
.tooltip-box-class-left,
.tooltip-box-class-right {
  @apply flex-1;
}
.tooltip-box-class-shadow-none {
  box-shadow: 0px;
}
.tooltip-box-class-shadow-xs {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.tooltip-box-class-shadow-sm {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}
.tooltip-box-class-shadow-md {
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.tooltip-box-class-shadow-lg {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.tooltip-box-class-shadow-xl {
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}
.tooltip-box-class-shadow-2xl {
  box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}
.tooltip-box-class-shadow-3xl {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}
.bg-tooltip-primary {
  @apply bg-primary text-[#ffffff];
}
.bg-tooltip-secondary {
  @apply bg-secondary text-[#6a13f4];
}
.bg-tooltip-tertiary {
  @apply bg-tertiary text-[#000000];
}
.bg-tooltip-success {
  @apply bg-success text-[#ffffff];
}
.bg-tooltip-danger {
  @apply bg-danger text-[#ffffff];
}
.bg-tooltip-warning {
  @apply bg-warning text-[#ffffff];
}
.bg-tooltip-clear {
  @apply bg-clear text-[#000000];
}
.tooltip-caret-position-class {
  @apply w-3 h-3 rotate-45 rounded-[1px];
}
.tooltip-caret-position-class-top {
  @apply -mt-[7px];
}
.tooltip-caret-position-class-bottom {
  @apply -mb-[7px];
}
.tooltip-caret-position-class-left {
  @apply -ml-[7px];
}
.tooltip-caret-position-class-right {
  @apply -mr-[7px];
}
.tooltip-caret-position-class-top-right {
  @apply mr-[12px] -mt-[7px];
}
.tooltip-caret-position-class-top-left {
  @apply ml-[12px] -mt-[7px];
}
.tooltip-caret-position-class-bottom-right {
  @apply mr-[12px] -mb-[7px];
}
.tooltip-caret-position-class-bottom-left {
  @apply ml-[12px] -mb-[7px];
}
